<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Contact Information -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Contact Us</h3>
          <ul>
            <li><a href="/contact" aria-label="Contact the Skywatching Team">General Inquiries</a></li>
            <li><a href="/support" aria-label="Skywatching Support">Support & Help</a></li>
            <li><a href="/press" aria-label="Press and Media Information">Press & Media</a></li>
            <li><a href="/newsletter" aria-label="Join the Skywatching Newsletter">Join Our Newsletter</a></li>
          </ul>
        </div>

        <!-- Legal Information -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Legal</h3>
          <ul>
            <li><a href="/privacy" aria-label="Privacy Policy">Privacy Policy</a></li>
            <li><a href="/terms" aria-label="Terms of Use">Terms of Use</a></li>
            <li><a href="/accessibility" aria-label="Accessibility Statement">Accessibility Statement</a></li>
            <li><a href="/copyright" aria-label="Copyright Information">Copyright & Credits</a></li>
          </ul>
        </div>

        <!-- Skywatching Guides / Sales Category Repurposed -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Skywatching Guides</h3>
          <ul>
            <li><a href="/events" aria-label="Upcoming Celestial Events">Celestial Events Calendar</a></li>
            <li><a href="/beginner-guide" aria-label="Beginner Skywatching Guide">Beginner’s Guide</a></li>
            <li><a href="/equipment" aria-label="Choosing Skywatching Equipment">Equipment Basics</a></li>
            <li><a href="/dark-sky-locations" aria-label="Find Dark Sky Locations">Find Dark-Sky Locations</a></li>
          </ul>
        </div>

        <!-- Resources -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Resources</h3>
          <ul>
            <li><a href="/libraries" aria-label="Find a Skywatching Library">Find a Skywatching Library</a></li>
            <li><a href="/start-your-own" aria-label="Start Your Own Skywatching Group">Start Your Own Group</a></li>
            <li><a href="/donate" aria-label="Donate to Support Skywatching Programs">Donate</a></li>
            <li><a href="/community" aria-label="Skywatching Community Forum">Community Forum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
